<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    </ion-buttons>
    <ion-title>Expenses List</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content>
  <!-- Filter Options -->
  <ion-grid class="ion-padding" [formGroup]="searchForm">
    <ion-row>
      <!-- Sort Option -->
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="swap-vertical" slot="start"></ion-icon>
          <ion-select interface="popover" formControlName="sort">
            <ion-select-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
              {{sortOption.label}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <!-- Category Filter -->
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-select interface="popover" formControlName="categoryIds" placeholder="Categories" [multiple]="true">
            <ion-select-option *ngFor="let category of categories" [value]="category.id">
              {{category.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <!-- Search Bar -->
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input maxlength="40" placeholder="Search" [clearInput]="true" formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Expense List -->
  <ion-list [ngSwitch]="expenses.length" inset="true">
    <!-- Skeleton -->
    <ng-container *ngSwitchCase="null">
      <ion-item *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <ion-label>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ng-container>

    <!-- Empty List -->
    <ion-item *ngSwitchCase="0">
      <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
      <ion-label>No expenses found</ion-label>
    </ion-item>

    <!-- Expenses -->
    <ng-container *ngSwitchDefault>
      <ion-item button="true" *ngFor="let expense of expenses" [detail]="true" [disabled]="loading" (click)="openModal(expense)">
        <ion-grid>
          <ion-item-divider>
            {{expense.date}}
          </ion-item-divider>
          <ion-row>
            <ion-col size="12" size-sm="4">
              {{expense.name}}
            </ion-col>
            <ion-col size="12" size-sm="4" class="ion-text-center">
              <ion-icon name="pricetag"></ion-icon>
              {{expense.category.name}}
            </ion-col>
            <ion-col size="12" size-sm="4" class="ion-text-end">
              {{expense.amount | currency}}
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ng-container>
  </ion-list>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll [disabled]="lastPageReached || loading" (ionInfinite)="loadNextExpensePage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="reloadExpenses($event)" [disabled]="loading">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Create fab button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Create month navigation -->
<ion-footer>
  <ion-toolbar slot="fixed">
    <ion-buttons slot="start">
      <ion-button (click)="changeMonth(-1)">
        <ion-icon slot="icon-only" name="arrow-back" role="img"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ currentMonth | date: 'MMMM yyyy' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeMonth(1)">
        <ion-icon slot="icon-only" name="arrow-forward" role="img"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
