<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-progress-bar *ngIf="submitting" type="indeterminate"></ion-progress-bar>

    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>

    <ion-title>{{expense.id ? 'Edit' : 'Add'}} Expense</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="expenseForm.pristine || expenseForm.invalid || submitting">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding" [formGroup]="expenseForm">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input
      [disabled]="submitting"
      formControlName="name"
      maxlength="40"
      placeholder="Enter the expense's name"
      required="true"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="pricetag" slot="start"></ion-icon>
    <ion-select interface="popover" formControlName="category" placeholder="Categories">
      <ion-select-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </ion-select-option>
    </ion-select>
    <ion-item>
      <ion-button slot="end" (click)="openCategoryModal()">
        <ion-icon name="add" ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-input
      [disabled]="submitting"
      formControlName="amount"
      maxlength="40"
      placeholder="Enter the amount in CHF"
      required="true"
    ></ion-input>


  </ion-item>
  <ion-item>

    <ion-button slot="start" (click)="openDatePicker()">
      <ion-icon name="calendar" ></ion-icon>
    </ion-button>
    <ion-datetime *ngIf="openDatePickerBool"
      id="datetime"
      formControlName="date"
      presentation="date"
    ></ion-datetime>
  </ion-item>

<!--  <ion-fab *ngIf="expense.id" slot="fixed" vertical="bottom" horizontal="end">-->
  <ion-fab  slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger" [disabled]="submitting">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

